#searchContainer {
    display: flex;
    width: 100%;
}
#searchbar {
    padding: 15px;
    border-radius: 10px;
    margin-right: 1em;
    width: 50em;
    border: 2px solid lightgray
}
#region-selector {
    padding: 15px;
    border-radius: 10px;
    width: 20em;
    margin-right: 20px;
    border: 2px solid lightgray
}
.cardGrid {
    display: flex;
    flex-flow: row wrap;
    border: 2px solid blue;
    margin-top: 1.5em;
    justify-content: space-around;
}