.countryCard {
    border: 3px solid red; 
    margin-bottom: 30px;
    width: 28%;
}
.countryCard a {
    text-decoration: none;
}
.flag-img {
    height: auto;
    width: 100%;
}
button {
    margin-bottom:0px;
    display: inline-block;
}