.countryCard {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    min-width: 20%;
    position: relative;
}

a {
    text-decoration: none;
}

h2 {
    margin-bottom: 2em;
}

.flag-img {
    height: 150px;
    width: 100%;
}

#trips-button-container {
    bottom: 0px;
    position: absolute;
}

.trips-button {
  background-color: white;
  border-radius: 3px;
  border: 1px solid lightgray;
  cursor: pointer;
  font-size: 10px;
  margin-right: 3px;
  padding: 8px .8em;
}

.trips-button:hover {
  background-color: #f2f2f2;
}
